#parse("/velocity/layout.vm")
#@mainLayout()
<header>
    <h1>Enter data to calculate tax</h1>
</header>
<form method="get" action="/compute-tax">
    <h2>Choose state</h2>

    <div class="custom-select">
        <select name="state" id="state" class="select-css">
        <option value="0">Select state:</option>
        #foreach($states in $states)
            <option value="$states.getName()">$states.getName()</option>
        #end
        </select>
    </div>
    <h2>Choose product</h2>
    <div class="custom-select">
        <select name="product" id="product" class="select-css">
        <option value="0">Select product:</option>
        #foreach($product in $products)
                <option value="$product.getName()">$product.getName()</option>
        #end
        </select>
    </div>
    <script src="/select_w3.js"></script>
    <h2>Amount of product</h2>
    <input type="number" id="amount" name="amount" min="1">
    <h2>Base price</h2>
    <input type="number" step="0.01" min="0" name="base_price">
    <h2>Expected price</h2>
    <input type="number" step="0.01" min="0" name="expected_price">
    <br>
    <button>Submit</button>

</form>
#end