/*Button*/

button {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid rgba(41,161,156,1);
    border-radius: 3px;
    font: Arial, Courier, monospace;
    color: #222831;
    background: #ff5927;
}

.bleu_input {
    display: block;
    margin: auto;
    width: 10%;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgba(41,161,156,1);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: Arial, Courier, monospace;
    color: #222831;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ff5927;

}

.bleu_input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.bleu_input[type=number]::-webkit-inner-spin-button,
.bleu_input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
