/*Menu*/
#menu{
	display: flex;
	width: 100%;
	margin: auto;
	justify-content: space-between;
	text-align: center;
}
#menu a {
	padding: 1rem 6rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ff5927;
	min-width: 80px;
	margin: auto;
}

#menu a:hover {
  background-image: url('https://cdn.discordapp.com/attachments/435381018699235349/705889130868899900/button.png');
  background-size: 100% 100%;
  color: #ebebeb;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #29a19c;
	font-weight: bold;
}

#menu a:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}