#parse("/velocity/layout.vm")
#@mainLayout()
<div class="form-container">
    <a href="/states">
       <button>Back</button>
    </a>
    #if($edit_failed == true)
        <div>Check your input, edit taxes failed!</div>
    #elseif($edit_failed == false)
        <div>Edit taxes was successful!</div>
    #end
    <form id="updateStateTaxForm">
        <h4>State name: $state.getName()</h4>
        </br>
        <h4>Taxes:</h4>
        </br>
        #foreach($category in $categories)
        <div class="inline_groups">
        #set( $tax = $state.getTaxForCategory($category))
                    <div class="label_input_group">
                        <label>$categoriesTranslator.tr($category)</label>
                    </div>
                    #if(!$tax)
                        #set($tax = "")
                    #end
            <input type="number" step=any id="$category" name="$category" min="0" value="$tax"/>
                    </div>
        
        #end

        <button id="updateStateBtn">Update</button>
    </form>
    <script>

         $('#updateStateBtn').click(function(){
            var formData = JSON.stringify($('#updateStateTaxForm').serializeArray());
            $.ajax({
                url: '/state/$state.getName()',
                type: 'PUT',
                data: formData,
                success: function(result) {
                    location.reload();
                }
            });
          });
    </script>

#end