#parse("/velocity/layout.vm")
#@mainLayout()
    <a href="/states">
       <button>Back</button>
    </a>
    #if($edit_failed == true)
        <div>Check your input, edit taxes failed!</div>
    #elseif($edit_failed == false)
        <div>Edit taxes was successful!</div>
    #end
    <form method="post">
        <label>State name: $state.getName()</label>
        </br>
        <label>Taxes:</label>
        </br>
        #foreach($category in $categories)
            #set( $tax = $state.getTaxForCategory($category))
            <label>$categoriesTranslator.tr($category)</label>
            #if(!$tax)
                #set($tax = "")
            #end
            <input type="number" step=any id="tax_$category" name="tax_$category" min="0" value="$tax"/>
            </br>
        #end
        <button>Update</button>
    </form>
#end