#macro(mainLayout)
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <h1>Enter data to calculate tax</h1>
    </header>
    <main>
        <div id="content">
            $bodyContent
        </div>
    </main>
</body>
</html>
#end