#macro(mainLayout)
<html>
<head>
    <title>$title</title>
    <link rel="stylesheet" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <ul>
    	<li><a href="/">Tax calculator</a></li>
    	<li>Products</li>
    	<li><a href="/states">States</a></li>
    	<li>About</li>
    </ul>
    <!--<header>
        <h1>Enter data to calculate tax</h1>
    </header>-->
    <main>
        <div id="content">
            $bodyContent
        </div>
    </main>
</body>
</html>
#end